<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Liste de Pokémon
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let one of pokemonList" (click)="goToDetail(one.name)">
    <img src="{{ one.photo }}" alt="photo du {{ one.name }}">
    <p>{{ this.one.name.charAt(0).toUpperCase() + this.one.name.slice(1) }} </p>
    <p slot="end">N° {{one.id}}</p>
  </ion-item>
</ion-content>
