<ion-header>
  <ion-toolbar>
    <ion-title>Cherche</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <label>Que veux-tu chercher ?! </label>
  <select id="select" name="select" [(ngModel)]="select">
    <option value="pokemon">
      <p>Chercher un pokemon</p>
    </option>
    <option value="abilite">
      <p>Chercher une abilité</p>
    </option>
  </select>
  <input type="text" [(ngModel)]="searchPokemon" name="searchPokemon" placeholder="Nom du pokemon">
  <ion-button (click)="TrouverPokemon(searchPokemon)">Trouve le !</ion-button>
  <div *ngIf="select === 'pokemon'">
    <H2> Nom du pokemon : {{ nomPokemon}} </H2>
    <h2> Type du pokemon : {{ typePokemon }}</h2>
    <h2> Attaques du pokemon : {{listAttaque[0]?.ability.name}} </h2>
    <h2> Attaques du pokemon : {{listAttaque[1]?.ability.name}} </h2>
    <img src="{{photoMale}}" alt="photo du pokemon">

    <p>Femelle</p>
    <img src="{{photoFemele}}" alt="photo du pokemon">

    <p>Shinny</p>
    <img src="{{photoShiny}}" alt="photo du pokemon">
  </div>

  <div *ngIf="select === 'abilite'">
    <h2> Nom de la capacité : {{nomAbility}}</h2>
    <h2> Effet de la capacité : {{effetAbility}}</h2>

  </div>


</ion-content>
