<ion-header>
  <ion-toolbar>
    <ion-title>detailsDresseur</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Nom du dresseur</ion-label>
    <ion-label>{{dresseur.name}}</ion-label>
  </ion-item>
<ion-item>
    <ion-label>les pokemon</ion-label>
    <ion-list *ngFor="let pokemon of this.ps.dresseur.equipe.listePokemon">
        <ion-label>
            <ion-label> {{pokemon}}, </ion-label>
            {{this.ps.getPokemonByName(pokemon)}}

        </ion-label>
    </ion-list>
</ion-item>
</ion-content>
